.TPReadMoreList > div{ display:none;  }
.TPReadMoreButton{
    display: block;
    cursor: pointer;
}

.TP-Plugin-Tables_wrapper {
    border: 0;
    width: 100%;
    font-size: 22px;
    font-family: Arial, sans-serif;
    color: #191e23;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.TP-Plugin-Tables_wrapper h1 {
    line-height: 1;
    margin-top: 2em;
    margin-bottom: 1em; }
.TP-Plugin-Tables_wrapper h2 {
    line-height: 1;
    margin-top: 2em;
    margin-bottom: 1em; }
.TP-Plugin-Tables_wrapper h3 {
    line-height: 1;
    margin-top: 2em;
    margin-bottom: 1em; }

.TP-sorting_asc:after {
    content: " \25b2" !important;
    position: absolute;
    right: 10px;
    top: 6px;
    margin-top: 12px;
    font-size: 8px; }

.TP-sorting_desc:after {
    content: " \25bc" !important;
    position: absolute;
    right: 10px;
    top: 6px;
    margin-top: 12px;
    font-size: 8px; }

.TP-Plugin-Tables_wrapper h3, .TP-Plugin-Tables_wrapper h2, .TP-Plugin-Tables_wrapper h1 {
    margin-bottom: 0 !important;
    margin-top: 1em !important;
}

.TP-Plugin-Tables_box {

    margin-bottom: 10px;
    margin-top: 15px;

    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
    border-spacing: 0;
    outline: 0;
    table-layout: auto;

}
.TP-Plugin-Tables_box_thead .TP-active {
    background: #099dc7; }
.TP-Plugin-Tables_box thead tr {
    color: #262626;
    height: 44px;
    background: #1db1db; }
.TP-Plugin-Tables_box thead tr td {
    background: #1db1db;
    text-align: left;
    padding: 0 12px;
    font-weight: 400;
    vertical-align: middle;
    position: relative;
    color: #ffffff;
    font-size: 13px;
    font-family: Arial, sans-serif;
    border-spacing: 0;
    border: 1px solid #eaeaea;
    border-width: 0 1px 1px 0; }
.TP-Plugin-Tables_box tbody tr:first-of-type td {
    border-top: 0px none; }
.TP-Plugin-Tables_box tbody tr {
    color: #262626;
    font-size: 13px;
    font-family: Arial, sans-serif;
    height: 45px; }
.TP-Plugin-Tables_box tbody tr .TP-stars {
    padding: 0 0 0 20px; }
.TP-Plugin-Tables_box tbody tr:hover {
    background: #fff0cc !important; }
.TP-Plugin-Tables_box tbody tr td {
    padding: 0 20px;
    font-weight: normal;
    vertical-align: middle;
    position: relative;
    border-spacing: 0;
    border: 1px solid #f2f2f2;
    border-width: 0 1px 1px 0;
    outline: 0;
    background: none; }
.TP-Plugin-Tables_box tbody tr .TPflightTd span{
    display: block;
    white-space: nowrap;
}
.TP-Plugin-Tables_box tbody tr .TPpriceTd p{
    /*display: block;*/
    display: inline;
    white-space: nowrap;
}
.TP-Plugin-Tables_box tbody tr .TPflight_numberTd p{
    display: inline;
    white-space: nowrap;
}

.TP-Plugin-Tables_box tbody tr td .TP-Plugin-Tables_link {
    min-width: 130px;
    margin: 0 auto;
    padding: 0 10px;
    height: 30px;
    display: block;
    margin-top: 2px !important;
    top: 0;
    right: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 1px solid #ce6408;
    text-align: center;
    background: #fd8a27;
    font-size: 13px;
    color: #571601 !important;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    white-space: nowrap;
    overflow: hidden; }
.TP-Plugin-Tables_box tbody tr td .TP-Plugin-Tables_link span {
    line-height: 30px; }
.TP-Plugin-Tables_box tbody tr td .TP-Plugin-Tables_link i {
    font-size: 14px;
    font-weight: normal;
    /*font-family: ALSRubl, sans-serif;*/
    font-style: normal;
    line-height: 26px;
    margin-left: 2px; }
.TP-Plugin-Tables_box tbody tr td .TP-Plugin-Tables_link:hover {
    background: #ce6408;
    text-decoration: none;
    color: #fff !important; }
.TP-Plugin-Tables_box tbody tr:nth-child(odd) {
    background: #FFF; }
.TP-Plugin-Tables_box tbody tr:nth-child(even) {
    background: #f2f2f2; }

.TP-autoWidth-plugin {
    width: 100%; }

.TP-hidden {
    display: none !important; }

.TP-Plugin-Tables_box-h thead tr {
    color: #262626;
    height: 44px;
    background: #00b443; }

.TP-Plugin-Tables_box-h .TP-active {
    background: #008a33; }


.TP-rwd-table td {
    display: block; }
.TP-rwd-table td:before {
    content: attr(data-th) ": "; }
.TP-Plugin-Tables_box thead tr td p, .TP-Plugin-Tables_box tbody tr td p {
    font-size: 15px !important;
    line-height: 1 !important;
}


@media (min-width: 480px) {
    .TP-rwd-table td:before {
        display: none; } }
.TP-rwd-table th, .TP-rwd-table td {
    text-align: left; }
@media (min-width: 480px) {
    .TP-rwd-table th, .TP-rwd-table td {
        display: table-cell; } }

@media (max-width: 480px) {
    .TPpriceTd {
        display: none !important;
    }
    /*.TP-Plugin-Tables_box tbody tr td:first-of-type p {
        padding-left: 4px;
    }
    .TP-rwd-table tbody tr td:nth-child(2) p {
        padding-left: 4px;
    } */
    .TP-tdContent {
        position: absolute;
        top: 32%;
    }
    .TP-AirlineLogo{
        top: 0 !important;
    }
    .TPPopUpButtonTable {
        display: none !important;}
    .TP-rwd-table {
        width: 100%; }
    .TP-rwd-table tbody tr {
        margin-bottom: 10px;
        display: inline-block;
        height: auto;
        width: 100%; }
    .TP-rwd-table tbody tr .stars {
        padding: 0; }
    .TP-rwd-table tbody tr .stars img {
        position: relative;
        top: 2px;
        margin-right: 2px; }
    .TP-rwd-table tbody tr td:first-of-type {
        border-top: 1px solid #f2f2f2; }
    .TP-rwd-table tbody tr td {
        text-align: left;
        overflow: hidden;
        padding: 0 !important; }
    .TP-rwd-table tbody tr td img{
        max-height: 35px;
        vertical-align: middle;
        max-width: 30%;
        display: inline-block;
        width: auto;

    }
    .TP-Plugin-Tables_box tbody tr td p {
        vertical-align: middle;
        white-space: nowrap;
        margin: 0;
    }
    .TP-rwd-table tbody tr td:before {
        color: white;
        background: #00b443;
        padding: 10px;
        display: inline-block;
        width: 113px;
        min-height: inherit;
        vertical-align: middle;
        margin-right: 9px; }
    .TP-rwd-table tbody tr td .TP-Plugin-Tables_link {
        display: inline-block;
        overflow: inherit;
        min-width: 100px;
        width: 100%;
    }

    .TP-rwd-table-avio tbody tr td:before {
        background: #1db1db; }

    .TP-rwd-table .TP-Plugin-Tables_box_thead {
        display: none; } }



.TPPopUpButtonTable{
    width: 100px;
    padding: 0 10px;
    height: 30px;
    display: none;
    position: absolute;
    margin-top: 7px;
    top: 0;
    right: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 1px solid #ce6408;
    text-align: center;
    background: #fd8a27;
    font-size: 13px;
    color: #571601 !important;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    white-space: nowrap;
}
.TPPopUpButtonTable span {
    line-height: 30px;
}
.TPPopUpButtonTable:hover {
    background: #ce6408;
    text-decoration: none;
    color: #fff !important;
}
.TP-Plugin-Tables_box tbody tr:hover .TPPopUpButtonTable{
    display: block;
}
/*@font-face {
    font-family: 'ALSRubl';
    src: url("../lib/fonts/ALSRubl.eot?#iefix") format("embedded-opentype"), url("../lib/fonts/ALSRubl.otf") format("opentype"), url("../lib/fonts/ALSRubl.woff") format("woff"), url("../lib/fonts/ALSRubl.ttf") format("truetype"), url("../lib/fonts/ALSRubl.svg#ALSRubl") format("svg");
    font-weight: normal;
    font-style: normal;
}
.TPCurrencyIco {
    font-size: 14px;
    font-weight: normal;
    font-family: ALSRubl, sans-serif;
    font-style: normal;
    line-height: 26px;
    margin-left: 5px;
}*/
/*@font-face {
    font-family: 'Currency Font';
    src: url("../lib/currency_fonts/currency-regular-webfont.eot");
    src: url("../lib/currency_fonts/currency-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../lib/currency_fonts/currency-regular-webfont.woff") format("woff"), url("../lib/currency_fonts/currency-regular-webfont.ttf") format("truetype"), url("../lib/currency_fonts/currency-regular-webfont.svg#untitledregular") format("svg");
    font-weight: normal;
    font-style: normal; }
.currency-font {
    font-family: 'Currency Font', Helvetica, sans;
    font-weight: normal;
    margin-left: 0.3ex;
}*/

.TP-Plugin-Tables_box tbody tr td p {
    display: inline;

}

.sorting_asc:after{
    content: " ▴" !important;
    position: absolute;
    right: 5px;
    top: 0;
    margin-top: 12px;
}
.sorting_desc:after{
    content: " ▾" !important;
    position: absolute;
    right: 5px;
    top: 0;
    margin-top: 12px;

}
.dataTables_paginate span a {
    margin-right: 5px;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    color: black;
}
span.ellipsis {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    text-align: center;
    line-height: 1.25;
}

.TP-Plugin-Tables_wrapper .dataTables_wrapper .dataTables_paginate {
    display: block;
    min-height: 30px;
    width: 100%;
}

.TP-Plugin-Tables_box tbody tr td img {
    border: 0;
    max-height: 30px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    width: auto;
}
.TP-PopularRoutesWidgets{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.TP-PopularRoutesWidget{
    /*margin-right: 1%;/*13px*/
    margin-bottom: 15px;
    float: left;
    width: 30.3333%;
    min-width: 200px;
}
.TP-tdContent a {
    border: none !important;
}

.TPTabs.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    border: none;
}


.TPTabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a{
    background-color: #69c7f4;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.TPTabs.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a{
    display: block;
    outline: none;
    padding: 0 30px;
    line-height: 60px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: #929a9f;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    line-height: 60px;
    background: #fff;
    -moz-box-shadow: 0 1px 2px #DEDDDD, inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px #DEDDDD, inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px #DEDDDD, inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
.TPTabs.ui-tabs .ui-tabs-nav li a br {
    display: none;
}
.TPTabs.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    height: auto;
    display: inline-block;
    width: auto;
    /*margin-bottom: 30px;*/
    overflow: hidden;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.TPTabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: none;
}
.TPTabs.ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li{
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid transparent;
}
.TPTabs .ui-state-default.ui-corner-top.ui-state-hover a{
    background-color: #69c7f4;
    color: #fff;
    border: none;
}
.TPTabs .ui-state-default.ui-corner-top.ui-state-hover{
    border: 1px solid transparent;
}
.TPTabs.ui-tabs .ui-tabs-nav li{
    margin: 0!important;
    border: 0!important;
}

.TPflight_numberTd .TP-tdContent{
    margin: 0 !important;
}

