.airline_widget_8{
    width: 260px;
}

.TPBtnDelete{
    height: 40px;
    background-color: #e10000;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 40px;
    text-decoration: none;
    font-size: 14px;
    padding: 0 15px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.TPBtnDelete:hover {
    background: #f20000;
    color: #FFFFFF;
}

.TPBtnAdd {
    height: 40px;
    background-color: #69c7f4;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 40px;
    text-decoration: none;
    font-size: 14px;
    padding: 0 15px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.TPBtnAdd:hover {
    background: #00abfd;
    color: #FFFFFF;
}
.TPBtnAdd i {
    background: url("../../images/plus.png") no-repeat;
    display: block;
    height: 100%;
    width: 22px;
    margin-right: 10px;
    background-position: center;
    float: left;
}

#select_shortcodes,
#select_widgets,
#select_search_form,
#constructorLinkModalSelect,
#select_hotels_shortcodes,
#select_hotels_type,
#select_hotels_selections_type{
    width: 350px;
}
#tr_title,
#tr_subid,
#tr_origin,
#tr_destination,
#tr_depart_date,
#tr_return_date,
#tr_airline,
#tr_limit,
#tr_trip_class,
#tr_origin_search_form,
#tr_destination_search_form,
#tr_origin_widget,
#tr_size_widget,
#tr_direct_widget,
#tr_destination_widget,
#tr_one_way_widget,
#tr_responsive_widget,
#tr_hotel_id_widget,
#tr_hotel_id_widget_size,
#tr_popular_routes_widget,
.TPPopularRoutes,
#tr_paginate,
#tr_transplant,
#tr_one_way,
#tr_origin_link,
#tr_destination_link,
#tr_origin_date_link,
#tr_destination_date_link,
#tr_one_way_link,
#tr_city_link,
#tr_origin_date_link,
#tr_destination_date_link,
#tr_origin_date_hotel_link,
#tr_destination_date_hotel_link,
#tr_off_title,
#tr_type_widget,
#tr_limit_widget,
#tr_cat_widget-1,
#tr_cat_widget-2,
#tr_cat_widget-3,
#tr_zoom_widget,
#tr_filter_widget,
#tr_type_widget_8,
#tr_airline_widget_8,
#tr_iata_widget_8,
#tr_limit_widget_8,
#tr_type_search_form,
#tr_search_shortcode_hotel_city,
#tr_subid_widget,
#tr_subid_sf,
#tr_subid_link,
#tr_currency,
#tr_calendar_period_widget,
#tr_calendar_period_size_widget,
#tr_country,
#tr_filter_airline,
#tr_filter_flight_number,
#tr_hotels_title,
#tr_hotels_city,
#tr_hotels_paginate,
#tr_hotels_off_title,
#tr_hotels_type,
#tr_hotels_day,
#tr_hotels_rating,
#tr_hotels_star,
#tr_hotels_distance,
#tr_hotels_number_results,
#tr_hotels_selections_type,
#tr_hotels_subid,
#tr_hotels_check_in,
#tr_hotels_check_out,
#tr_hotels_link_without_dates,
#tr_hotels_help_text
{
    display: none;
}
.hotels-distance{
    width: 75px;
}
#table_iata_widget_8,
#table_airline_widget_8{
    width: 100%;
}
.constructorShortcodesError{
    border: 1px solid #dd3d36 !important;
}
#constructorShortcodesButton img{
    margin-top: -3px;
}
#constructorWidgetButton img{
    margin-top: -3px;
}
#constructorSearchFormButton img{
    margin-top: -3px;
}
#constructorLinkButton img {
    margin-top: -3px;
}

#constructorHotelsShortcodesButton img {
    margin-top: -3px;
}

#constructorRailwayShortcodesButton img {
    margin-top: -3px;
}

.validate > #constructorRailwayShortcodesButton img{
    padding: 0 4px;
    vertical-align: middle;
    margin-top: -3px;
}

.validate > #constructorShortcodesButton img{
    padding: 0 4px;
    vertical-align: middle;
    margin-top: -3px;
}
.validate > #constructorWidgetButton img{
    padding: 0 4px;
    vertical-align: middle;
    margin-top: -3px;
}
.validate > #constructorSearchFormButton img{
    padding: 0 4px;
    vertical-align: middle;
    margin-top: -3px;
}
.validate > #constructorLinkButton img{
    padding: 0 4px;
    vertical-align: middle;
    margin-top: -3px;
}
.validate > #constructorHotelsShortcodesButton img{
    padding: 0 4px;
    vertical-align: middle;
    margin-top: -3px;
}

.validate > #constructorShortcodesButton{
    margin-right: 5px;
    margin-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;

}
.validate > #constructorWidgetButton{
    margin-right: 5px;
    margin-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    vertical-align: top;
}
.validate > #constructorSearchFormButton{
    margin-right: 5px;
    margin-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
}
.validate > #constructorLinkButton{
    margin-right: 5px;
    margin-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
}

.validate > #constructorLinkButton{
    margin-right: 5px;
    margin-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
}

/* WP Theme */

.ui-dialog.TPCustomDialog{
    position: absolute !important;
    z-index: 100102 !important;
    background-color: #fff !important;
    -webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 ) !important;
    box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 ) !important;

}

.TPCustomDialog .ui-dialog-titlebar  {
    border-color: #fff;
    background: #fcfcfc !important;
    border-bottom: 1px solid #dfdfdf !important;
    height: 36px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 36px !important;
    padding: 0 36px 0 16px !important;
    color: #666 !important;
    border-radius: 0 !important;
}

.TPCustomDialog .ui-dialog-titlebar-close {
    background: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #666 !important;
    cursor: pointer !important;
    display: block !important;
    padding: 0 !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    width: 36px !important;
    height: 36px !important;
    text-align: center !important;
}
.TPCustomDialog .ui-button{
    background: none !important;
    color: #666 !important;
    border: 1px solid #ccc; !important;
    border-radius: 3px !important;
    font-weight: normal !important;
}
.TPCustomDialog .ui-dialog-titlebar-close{
    border: none !important;
    background: none !important;
    color: #666 !important;
    width: 36px !important;
    height: 36px !important;
    text-align: center !important;
}

.TPCustomDialog .ui-dialog-titlebar-close:before {
    font: normal 20px/1 'dashicons' !important;
    vertical-align: top !important;
    speak: none !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    line-height: 36px !important;
    width: 36px !important;
    height: 36px !important;
    content: '\f158' !important;
}

.TPCustomDialog .ui-dialog-titlebar-close:hover {
    color: #00a0d2 !important;
}

.TPCustomDialog .ui-dialog-titlebar-close .ui-button-text{
    display: none !important;
}

.TPCustomDialog .ui-dialog-content {
    padding: 16px !important;
    overflow: auto !important;
    color: #444 !important;
}

.TPCustomDialog .ui-dialog-buttonpane {
    background: #fcfcfc !important;
    border-top: 1px solid #dfdfdf !important;
    padding: 16px !important;
}

.TPCustomDialog .ui-dialog-buttonpane  .TPCustomDialog .ui-button {
    margin-left: 16px !important;
}

.TPCustomDialog .ui-dialog-buttonpane .TPCustomDialog .ui-dialog-buttonset {
    float: right !important;
}

.TPCustomDialog .ui-draggable  .TPCustomDialog .ui-dialog-titlebar {
    cursor: move !important;
}

.TPCustomDialog .ui-widget-overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    min-height: 360px !important;
    background: #000 !important;
    opacity: 0.7 !important;
    filter: alpha(opacity=70) !important;
    z-index: 100101 !important;
}
.TPCustomDialog .ui-icon-closethick {
    display: none !important;
}


.TPCustomDialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
    background: none !important;
    color: #666 !important;
    border: 1px solid #ccc;
    border-radius: 3px !important;
    font-weight: normal !important;
    margin:0 0 0 16px;
    padding:0 10px 1px 10px;
}
.TPCustomDialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button .ui-button-text{
    margin:0;
    padding:0;
}
.TPCustomDialog .ui-dialog-content {
    width: 92% !important;
}
.TPCustomDialog .ui-dialog-content .constructorCityShortcodesAutocomplete {
  /*  width: 99%!important;*/
}


.ui-datepicker {
    width: 300px;
    height: auto;
    background: #fff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #dcdfdf;
    padding: 15px;
    display: none;
}

.ui-datepicker-calendar {
    width: 100%;
}
.ui-datepicker-calendar th {
    height: 20px;
    border-bottom: 1px solid #00abfd;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    color: #b5b5b9;
    line-height: 11px;
}
.ui-datepicker-calendar td {
    text-align: center;
    width: 30px;
    height: 30px;
}
.ui-datepicker-calendar td a {
    font-size: 13px;
    color: #23282d;
    font-weight: 300;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 26px;
    border: 2px solid transparent;
    text-decoration: none;
}
.ui-datepicker-calendar td a:hover {
    border: 2px solid #00abfd;
    text-decoration: none;
}
.ui-datepicker-calendar td a.ui-state-highlight {
    background: #00abfd;
    color: #fff;
    border-color: #00abfd;
    text-align: center;

}

.ui-datepicker-header {
    height: 30px;
    position: relative;
    margin-bottom: 10px;
}

.ui-datepicker-prev, .ui-datepicker-next {
    background-size: cover;
    position: absolute;
    top: 0;
    display: block;
    width: 30px;
    height: 31px;
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZTRlNGU2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMwIDMxIj48cGF0aCBkPSJNMTUgLjQxN2MtOC4yODQgMC0xNSA2LjcxNi0xNSAxNXM2LjcxNiAxNSAxNSAxNSAxNS02LjcxNiAxNS0xNS02LjcxNi0xNS0xNS0xNXptMCAyOGMtNy4xNjggMC0xMy01LjgzMi0xMy0xM3M1LjgzMi0xMyAxMy0xMyAxMyA1LjgzMiAxMyAxMy01LjgzMiAxMy0xMyAxM3pNMjMgMTVjMCAuNTUzLS40NDcgMS0xIDFIMTAuNDE0bDUuMjkzIDUuNWMuMzkuMzkyLjM5IDEuMTI4IDAgMS41Mi0uMTk1LjE5NC0uNDUuMzQ0LS43MDcuMzQ0cy0uNTEyLS4wNy0uNzA3LS4yNjdsLTctNi45ODdjLS4zOS0uMzktLjM5LTEuMDE3IDAtMS40MDdsNy02Ljk5N2MuMzktLjM5IDEuMDIzLS4zOSAxLjQxNC4wMDJzLjM5LjgxNSAwIDEuMjA2TDEwLjQxNCAxNEgyMmMuNTUzIDAgMSAuNDQ3IDEgMXoiLz48L3N2Zz4=");
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDBhYmZkIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMwIDMxIj48cGF0aCBkPSJNMTUgLjQxN2MtOC4yODQgMC0xNSA2LjcxNi0xNSAxNXM2LjcxNiAxNSAxNSAxNSAxNS02LjcxNiAxNS0xNS02LjcxNi0xNS0xNS0xNXptMCAyOGMtNy4xNjggMC0xMy01LjgzMi0xMy0xM3M1LjgzMi0xMyAxMy0xMyAxMyA1LjgzMiAxMyAxMy01LjgzMiAxMy0xMyAxM3pNMjMgMTVjMCAuNTUzLS40NDcgMS0xIDFIMTAuNDE0bDUuMjkzIDUuNWMuMzkuMzkyLjM5IDEuMTI4IDAgMS41Mi0uMTk1LjE5NC0uNDUuMzQ0LS43MDcuMzQ0cy0uNTEyLS4wNy0uNzA3LS4yNjdsLTctNi45ODdjLS4zOS0uMzktLjM5LTEuMDE3IDAtMS40MDdsNy02Ljk5N2MuMzktLjM5IDEuMDIzLS4zOSAxLjQxNC4wMDJzLjM5LjgxNSAwIDEuMjA2TDEwLjQxNCAxNEgyMmMuNTUzIDAgMSAuNDQ3IDEgMXoiLz48L3N2Zz4=");
}

.ui-datepicker-prev {
    left: 0;
}

.ui-datepicker-next {
    right: 0;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.ui-datepicker-title {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: #b5b5b9;
}
#constructorShortcodesModal input[type="checkbox"],
#constructorWidgetModalForm input[type="checkbox"],
#constructorLinkModalTable input[type="checkbox"],
#constructorHotelsShortcodesModal input[type="checkbox"]{
    display: inline-block;
}
.TPProgressbarDialog .ui-progressbar {
    position: relative;
}
.TPProgressbar-label {
    position: absolute;
    left: 5px;
    display: inline-block;
    text-align: center !important;
    top: 4px;
    color: #23282d; !important;
    border: none;
    font-weight: 200;
    /*font-weight: bold;
    text-shadow: 1px 1px 0 #fff;*/
}
.TPProgressbarDialog .ui-widget-header{
    background: #69c7f4 !important;

}
.TPProgressbarDialog .ui-widget-content {
    border: 1px solid #e6ebed !important;
    color: #ffffff !important;
}
.TPProgressbarDialog .ui-dialog-titlebar {
    display: none;
}
.ui-widget-overlay {
    position: fixed !important;
    top: 23px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    min-height: 360px !important;
    background: #000 !important;
    opacity: 0.7 !important;
    filter: alpha(opacity=70) !important;
    z-index: 100101 !important;
    width: 100% !important;
}
.ui-progressbar{height:2em;text-align:left;overflow:hidden}.ui-progressbar .ui-progressbar-value{margin:-1px;height:100%}.ui-progressbar .ui-progressbar-overlay{background:url(../lib/jquery-ui/images/animated-overlay.gif);height:100%;filter:alpha(opacity=25);opacity:.25}.ui-progressbar-indeterminate .ui-progressbar-value{background-image:none}.ui-resizable{position:relative}


